RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*).html/?$ index.php?page=$1 [L,QSA]
RewriteRule ^data/form/?$ connect/rv-form-data.php [L]
RewriteRule ^data/json/?$ connect/rv-json-data.php [L]
RewriteRule ^auth/?$ connect/auth.php [L]
RewriteRule ^send/(.*)/?$ connect/send-data.php?key=$1 [QSA,L]

ErrorDocument 401 /pages-404.php
ErrorDocument 403 /pages-404.php
ErrorDocument 404 /pages-404.php
ErrorDocument 400 /pages-404.php